/* This is a comment in CSS */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  color: #333333;
  margin: 0;
  padding: 0;
}

h1 {
  color: #5b6fb0;
  text-align: center;
}

p {
  font-size: 16px;
  line-height: 1.5;
  margin: 20px;
}

a {
  color: #008CBA;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  height: auto;
}

/* Navigation */

nav {
  list-style-type: none;
  background-color: #5b6fb0;
}

.navbar {
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.navbar li {
  margin: 0 20px;
}

.navbar a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  padding: 8px 16px;
  transition: background-color 0.3s ease;
}

.navbar a:hover {
  background-color: #575757;
  border-radius: 4px;
}

/* Responsive design: Stack items vertically on small screens */
@media (max-width: 600px) {
  .navbar {
      flex-direction: column;
      align-items: center;
  }

  .navbar li {
      margin: 10px 0;
  }
}